.chatView {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.chatTitle {
  padding: 12px;
  height: 45px;
  color: #0e1f58;
  font-family: "Open Sans";
  font-weight: 600;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0%;
  width: 400px;
}

.react-chatbot-kit-chat-input-container {
  position: absolute;
  bottom: 0;
}

.react-chatbot-kit-chat-container {
  width: 100%;
  margin: 0 20px;
}


#root {
  margin: 0 auto;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.cs-main-container {
  border-left: none !important;
  background-color: #FBFBFE;
}

.cs-message--outgoing .cs-message__content {
  text-align: left;
  background-color: #1E49E2 !important;
  color: white !important;
  border-radius: 10.192px !important;
}

.cs-message__content {
  text-align: left;
  color: #244ED9 !important;
  background-color: #F2F4FD !important;

}

.Bot .cs-message__content {
  padding-bottom: 40px !important;
}

.cs-message-input__content-editor-wrapper {
  background-color: white !important;
  border: solid 1px #D0D6DE !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: 500;
  font-size: 16px;
  width: calc(80% - 60px) !important;
  margin-left: 60px !important;
}

.cs-message-input--disabled .cs-message-input__content-editor-wrapper {
  background-color: #F2F4FD !important;
  width: calc(80% - 60px) !important;
}

.cs-message-input__content-editor {
  background-color: white !important;
  text-align: left;
  font-size: 16px;

}

.cs-message-input--disabled .cs-message-input__content-editor {
  background-color: #F2F4FD !important;
}

.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper:first-child {}

.footer {
  font-size: 12px;
  margin: 10px 25px;
  text-align: left;
  height: 50px;
  padding: 5px;
  color: #989898;
}

.cs-message-input__tools:last-child .cs-button:last-child {
  margin-right: 0;
  position: absolute;
  right: 0;
  color: black;
}

.cs-chat-container .cs-message-input {
  border-top: solid 1px #d1dbe3 !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
  display: inline-block !important;
}

.cs-button.cs-button--send {
  position: absolute !important;
  right: 22% !important;
  width: 40px !important;
}

.cs-message__footer {
  margin-top: -30px !important;
  display: block !important;
  text-align: end !important;
  padding-right: 20px !important;
  padding-bottom: 10px !important;
}

.cs-message__footer img {
  padding-left: 5px;
  cursor: pointer;
  height: 20px;
}

.MuiButtonBase-root.exportPdf {
  height: 38px;
  margin-right: 20px;
  z-index: 4;
  position: absolute;
  margin-top: -45px;
  left: calc(80% - -10px);
  width: 50px;
  background: white;
  border: solid 1px #D0D6DE !important;
  border-radius: 0.7rem;
  cursor: pointer;
}

.MuiButtonBase-root.newChat {
  background: none;
  border: none;
  position: absolute;
  left: 0;
  margin-top: -50px;
  z-index: 4;
  cursor: pointer;
  padding: 0;
}

.MuiButtonBase-root.newChat[disabled] img,
.MuiButtonBase-root.exportPdf[disabled] img {
  opacity: 0.3;
}

#customers td,
#customers th {
  border: 2px solid #ddd;
  padding: 8px;
  max-width: 100%;
  white-space: nowrap;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 500px;
  overflow-y: auto;
  display: inline-block;
  white-space: initial;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  max-width: 100%;
  white-space: nowrap;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1E49E2;
  color: white;
  max-width: 100%;
  white-space: nowrap;
}

.pdfReport table {
  width: 100%;
}

.pdfReport ul {
  padding: 5px;
  margin: 0;
}