.cards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6%;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 4%;
  height: calc(100vh - 260px);
  overflow-y: scroll;
  text-align: left;
}

.cards::-webkit-scrollbar {
  width: 5px;
}

.cards::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

.cards::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}