.pageLayout{
  display: flex;
  background: #FBFBFE;
  height: 100vh;
}



.rightPanel{
  position: absolute;
  right: 0;
  display: flex;
  width: 67%;
  margin-left:1%;
  border-left: 1px solid rgb(206, 210, 217);
}


.nav {
  width: 50px;
  background-color: blue;
  height: 100vh;
}

.drawerContainer{
  height: 100vh;
}

